<div class="row search_results" style="display:none;">
    <div class="col s12">
        <ul class="results-tabs">
            <li class="tab col s6"><a class="active" href="#results_soundcloud">SoundCloud</a></li>
            <li class="tab col s6"><a href="#results">YouTube</a></li>
        </ul>
    </div>
    <div id="results" class="">
        <div id="temp-results-container">
            <div id="temp-results" class="result-object">
                <div id="result" class="result">
                    <div class="result-info-no-buttons">
                        <div class="thumb-and-info">
                            <img class="thumb" src="/assets/images/loading.png" alt="Thumb" />
                            <span class="result_info"></span>
                        </div>
                        <div class="result-info-title-length">
                            <div class="search-title truncate"></div>
                            <div class="result-start-end-container">
                                <span class="start-end-info show-only-mobile">Start/End</span>
                                <input type="number" min="0" class="result-start white-text" value="0">
                                /
                                <input type="number" min="0" class="result-end white-text" value="0">
                            </div>
                            <div class="result-get-more-info waves-effect waves-light">
                                <i class="material-icons">keyboard_arrow_left</i>
                            </div>
                        </div>
                    </div>
                    <div class="result-info-buttons">
                        <a href="#" target="_blank" class="waves-effect waves-orange btn-flat open-externally"
                            title="Open on YouTube">
                            <i class="material-icons">open_in_new</i>
                        </a>
                        <div class="waves-effect waves-orange btn-flat" id="add-many" title="Add several videos">
                            <i class="material-icons">playlist_add</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="empty-results-container">
            <div id="empty-results" class="valign-wrapper">
                <span class="valign">No results found..</span>
            </div>
        </div>
        <div class="pagination-results">
            <a href="#" class="btn waves-effect waves-light prev-results-button orange">Prev</a>
            <a href="#" class="btn waves-effect waves-light next-results-button orange">Next</a>
        </div>
    </div>
    <div id="results_soundcloud" class="col s12"></div>
</div>